.contact {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-40%);
}

.contact {
    min-width: 80vh;
}

ion-card {
    max-width: 80vh;
}

.contact ion-card-title {
    font-size: 350%;
}

.contact ion-card-subtitle {
    font-size: 120%;
}

.social-links {
    text-align: center;
}

.social-links ion-icon {
    padding: 1vh;
    font-size: 200%;
}