<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contact">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Vijay Adithya B K</ion-card-title>
        <ion-card-subtitle>Application Development Analyst <span class="company">@Accenture</span></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Looking forward to meeting new people and gaining knowledge 😎 
      </ion-card-content>

      <ion-grid class="social-links">
        <ion-row>
          <ion-col s><a href="mailto:vijayadithyabk@gmail.com"><ion-button fill="clear"><ion-icon name="mail-outline"></ion-icon></ion-button></a></ion-col>
          <ion-col><a href="https://www.linkedin.com/in/vijayadithyabk" target="_blank"><ion-button fill="clear"><ion-icon name="logo-linkedin"></ion-icon></ion-button></a></ion-col>
          <ion-col><a href="tel:+919986165582"><ion-button fill="clear"><ion-icon name="call-outline"></ion-icon></ion-button></a></ion-col>
        </ion-row>
      </ion-grid>
    
      <div>
        
        
      </div>
    </ion-card>
  </div>
</ion-content>
